<!-- mobile 슬라이딩 메뉴 -->
<div class="popupWrap_2 popMenu">
	<div class="popup">
		<ul class="mobile_menu" style="padding-top:2%;">
			<li>
				<a onclick="m_menu_close()" style="color:#ffffff;text-align: right;font-size: 25px;">
					<span style="padding-right: 7%;">X</span>
				</a>
			</li>
			<li><a href="/mypage/my_wallet?type=0">Home</a></li>
			<li><a href="/mypage/my_wallet?type=3y">Buy</a></li>
			<li><a href="/mypage/profile">Profile</a></li>
			<li><a href="https://etherscan.io/address/<%= address %>"  target="_blank" > TRANSACTION</a></li>
		</ul>
		<a href="/mypage/logout" class="btn_logout">LOGOUT</a>
	</div>
</div>
