<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8" />
	<title>지갑사이트</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<link rel="stylesheet" type="text/css" href="css/front/layout.css" media="all" />
	<link rel="stylesheet" type="text/css" href="css/front/contents.css" media="all" />

	<script type="text/javascript" src="js/front/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="js/front/global.js"></script>
	<!-- <script type="text/javascript" src="js/front/jquery.modal.min.js"></script> -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>

<div class="wrapper">
	<div class="container login">
		<header>
			<!-- <h1><a href="#n" class="logo"><img src="images/front/img_logo.svg"></a></h1> -->
			<h1><a href="#n" class="logo">cara</a></h1>
		</header>
		<div class="left">
			<ul class="menu">
				<li><a href="signup.html">SIGN UP</a></li>
				<li><a href="login.html" class="current">LOG IN</a></li>
			</ul>
			<div class="s_title">
				<h2>Great to see you again</h2>
				<p>
					Log in to your existing wallet using wallet ID.<br/>
					You must have wallet ID in your email.
				</p>
			</div>
			<div class="form">
				<p class="insert">
					<label>Wallet E-mail ID</label>
					<input type="email" name="" placeholder="E-mail">
					<small class="caution">Invalid wallet ID</small>
				</p>
				<p class="insert">
					<label>Password</label>
					<input type="password" name="" placeholder="Password">
					<small class="caution">The password must be set from 8 characters to 12 characters with 1 special character and English / numeric characters.</small>
				</p>
			</div>
			<a href="#n" class="btn_submit">LOG IN</a>
			<p class="forgot_pw">
				Forgot your Password?<br/>
				No worries, <a href="forgot_pw.html" class="btn_link">Click Here</a> to reset your password.
			</p>
		</div>
		<div class="right"></div>
	</div>

</div>

</body>
</html>
