@charset "UTF-8";
/*공용 변수*/
/*공용 함수*/
/* 공통 */
.container {
   margin: 0 auto;
   width: 108rem;
   /* padding: 12.7rem 2rem 7rem; */
   padding: 18rem 2rem;
}
@media screen and (max-width: 1100px) {
   .container {
      width: 100%;
   }
}
@media screen and (max-width:960px) {
   .container {
      padding: 0 2rem;
   }
}
/* @media screen and (max-width:769px) {
   .container {
      margin: 0 auto;
      padding-top: 9rem;
   }
} */
.container:after {
   content: '';
   clear: both;
   display: block;
   height: 0;
}

.sub_container {
  width: 100%; }
  .sub_container:after {
    content: '';
    clear: both;
    display: block;
    height: 0; }
  .sub_container .col {
    float: left;
    width: 50%;
    padding-top: 11.5rem; }
    @media screen and (max-width: 960px) {
      .sub_container .col {
         padding-top: 0;
        width: 100%;
         } }
    .sub_container .col:after {
      content: '';
      clear: both;
      display: block;
      height: 0; }
  .sub_container .left {
    background-color: #f3f3f3; }
    @media screen and (max-width: 960px) {
      .sub_container .left {
        background-color: white; } }
    .sub_container .left .col_wrap {
      position: relative;
      float: right;
      width: 53rem;
      padding-left: 1rem;
      padding-right: 5rem; }
      @media screen and (max-width: 1100px) {
        .sub_container .left .col_wrap {
          width: 100%;
          padding-left: 2rem; } }
      @media screen and (max-width: 960px) {
        .sub_container .left .col_wrap {
          padding-right: 2rem; } }
      @media screen and (max-width: 640px) {
        .sub_container .left .col_wrap {
          padding: 0 1.5rem 2rem; } }
    .sub_container .left dl.total_balance {
      padding-top: 2rem; }
      .sub_container .left dl.total_balance > dt {
        display: block;
        padding-bottom: 0.7rem;
        font-size: 1.4rem; }
      .sub_container .left dl.total_balance > dd {
        display: inline-block;
        position: relative;
        font-size: 1.8rem; }
        .sub_container .left dl.total_balance > dd span {
          display: inline-block;
          padding-right: 1.3rem;
          font-size: 3.8rem;
          font-weight: 700; }
        .sub_container .left dl.total_balance > dd .tooltip {
          display: none;
          position: absolute;
          top: 5.5rem;
          left: 0;
          width: 45rem;
          padding: 1.5rem;
          border: 1px solid #333;
          background-color: white;
          -webkit-border-radius: 0.3rem;
          -moz-border-radius: 0.3rem;
          border-radius: 0.3rem;
          background-clip: padding-box;
          /* stops bg color from leaking outside the border: */ }
          .sub_container .left dl.total_balance > dd .tooltip img.img_arr {
            position: absolute;
            top: -0.8rem;
            left: 1rem; }
          .sub_container .left dl.total_balance > dd .tooltip dl dt {
            font-weight: 700;
            font-size: 1.3rem; }
          .sub_container .left dl.total_balance > dd .tooltip dl dd {
            padding-top: 0.5rem;
            font-size: 1.3rem; }
      .sub_container .left dl.total_balance > dd:hover .tooltip {
        display: block; }
    .sub_container .left .user {
      position: absolute;
      top: 0;
      right: 5rem;
      text-align: right; }
      @media screen and (max-width: 960px) {
        .sub_container .left .user {
          right: 1.5rem;
          width: 50%; } }
      .sub_container .left .user a.btn_logout {
        display: inline-block;
        font-weight: 700;
        font-size: 1.4rem;
        font-style: italic; }
        .sub_container .left .user a.btn_logout:hover {
          text-decoration: underline; }
      .sub_container .left .user p.user_email {
        display: block;
        width: 100%;
        padding-top: 0.3rem;
        font-size: 1.4rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    .sub_container .left .coins {
      padding-top: 4.5rem; }
      .sub_container .left .coins h5 {
        padding-bottom: 15px; }
      .sub_container .left .coins .coinBox {
        padding: 2rem;
        margin-bottom: 1rem;
        color: white;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        border-radius: 0.5rem;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */ }
        .sub_container .left .coins .coinBox:after {
          content: '';
          clear: both;
          display: block;
          height: 0; }
        .sub_container .left .coins .coinBox p.c_title {
          float: left;
          font-size: 1.4rem;
          font-weight: 700; }
          .sub_container .left .coins .coinBox p.c_title img {
            display: inline-block;
            width: 2rem;
            margin-right: 0.5rem;
            vertical-align: middle; }
        .sub_container .left .coins .coinBox .btns {
          float: right; }
          .sub_container .left .coins .coinBox .btns a {
            display: inline-block;
            height: 2.6rem;
            line-height: 2.6rem;
            padding: 0 1.5rem;
            margin-left: 0.5rem;
            color: white;
            background-color: rgba(255, 255, 255, 0.2);
            -webkit-border-radius: 1.3rem;
            -moz-border-radius: 1.3rem;
            border-radius: 1.3rem;
            background-clip: padding-box;
            /* stops bg color from leaking outside the border: */
            -webkit-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            -ms-transition: all 0.2s linear;
            transition: all 0.2s linear; }
            @media screen and (max-width: 640px) {
              .sub_container .left .coins .coinBox .btns a {
                padding: 0 1.3rem;
                margin-left: 0.3rem;
                font-size: 1.2rem; } }
            .sub_container .left .coins .coinBox .btns a:hover {
              background-color: rgba(255, 255, 255, 0.3); }
        .sub_container .left .coins .coinBox ul.data {
          float: right;
          font-size: 1.2rem; }
          .sub_container .left .coins .coinBox ul.data:after {
            content: '';
            clear: both;
            display: block;
            height: 0; }
          .sub_container .left .coins .coinBox ul.data li {
            position: relative;
            float: left;
            padding: 0 1rem; }
            .sub_container .left .coins .coinBox ul.data li:after {
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              right: 0;
              margin-top: -0.5rem;
              width: 1px;
              height: 1.1rem;
              background-color: rgba(255, 255, 255, 0.3); }
            .sub_container .left .coins .coinBox ul.data li:last-child {
              padding-right: 0; }
              .sub_container .left .coins .coinBox ul.data li:last-child:after {
                display: none; }
            .sub_container .left .coins .coinBox ul.data li dl dt {
              display: inline-block;
              padding-right: 0.5rem; }
            .sub_container .left .coins .coinBox ul.data li dl dd {
              position: relative;
              display: inline-block;
              font-weight: 700; }
              .sub_container .left .coins .coinBox ul.data li dl dd small {
                display: block;
                position: absolute;
                top: -1.7rem;
                right: 0;
                font-weight: normal;
                opacity: 0.5; }
              .sub_container .left .coins .coinBox ul.data li dl dd em {
                padding-right: 0.3rem; }
              .sub_container .left .coins .coinBox ul.data li dl dd span.down {
                color: #f43b48; }
              .sub_container .left .coins .coinBox ul.data li dl dd span.up {
                color: #54C2E4; }
        .sub_container .left .coins .coinBox p.amount {
          clear: both;
          padding: 2.5rem 0 3rem;
          text-align: right;
          font-size: 2.5rem;
          font-weight: 700; }
    .sub_container .left .eth {
      background-color: #54C2E4; }
    .sub_container .left .gbt {
      background-color: #004885; }
  .sub_container .right {
    position: relative;
    height: 100vh;
    overflow: auto; }
    @media screen and (max-width: 960px) {
      .sub_container .right ul.menu li:nth-child(1), .sub_container .right ul.menu li:nth-child(2) {
        display: none; } }
    .sub_container .right .col_wrap {
      float: left;
      width: 53rem;
      padding-left: 5rem;
      padding-right: 1rem; }
      @media screen and (max-width: 1100px) {
        .sub_container .right .col_wrap {
          width: 100%;
          padding-right: 2rem; } }
      @media screen and (max-width: 960px) {
        .sub_container .right .col_wrap {
          padding-left: 2rem; } }
      @media screen and (max-width: 640px) {
        .sub_container .right .col_wrap {
          padding: 0 1rem; } }
      .sub_container .right .col_wrap .contents {
        padding-top: 4rem;
        padding-bottom: 8rem; }
        @media screen and (max-width: 640px) {
          .sub_container .right .col_wrap .contents {
            padding-top: 0; } }
        .sub_container .right .col_wrap .contents h4 {
          display: block;
          padding-bottom: 3.5rem;
          text-align: left;
          font-size: 2.8rem; }
          @media screen and (max-width: 640px) {
            .sub_container .right .col_wrap .contents h4 {
              padding-bottom: 2rem;
              font-size: 2.2rem; } }

ul.menu {
   padding-bottom: 3rem;
}
@media screen and (max-width: 960px) {
   ul.menu {
      /* padding: 3rem 0; */
      padding: 0 0 3rem 0;
   }
}
ul.menu:after {
   content: '';
   clear: both;
   display: block;
   height: 0;
}
ul.menu > li {
   position: relative;
   float: left;
}
ul.menu > li > a {
   display: block;
   padding-right: 3rem;
}
ul.menu > li > a.current {
   font-weight: 700;
   text-decoration: underline;
}
ul.menu > li ul.sub_menu {
   display: none;
   position: absolute;
   top: 1.6rem;
   left: 0;
   width: 10rem;
}
ul.menu > li ul.sub_menu:after {
   content: '';
   clear: both;
   display: block;
   height: 0;
}
ul.menu > li ul.sub_menu li {
   float: left;
   font-size: 1.3rem;
}
ul.menu > li ul.sub_menu li a {
   display: block;
   padding: 1.5rem 2rem 1.5rem 0;
}
ul.menu > li ul.sub_menu li a.current {
   font-weight: 700;
   text-decoration: underline;
}
ul.menu > li ul.sub_menu li a:hover {
   font-weight: 700;
}

.s_title {
  padding-top: 1rem; }
  .s_title h2 {
    padding-bottom: 1.3rem;
    font-size: 2.8rem; }
  .s_title p {
    font-size: 1.4rem; }

/* 팝업 */
.popupWrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); }
  .popupWrap .popup {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -25rem;
    width: 50rem;
    padding: 3rem 3rem 2rem;
    background-color: white;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    @media screen and (max-width: 640px) {
      .popupWrap .popup {
        top: 1rem;
        left: 1rem;
        width: calc(100% - 2rem);
        padding: 2rem 2rem 2rem;
        margin: 0; } }
    .popupWrap .popup .popup_top h3 {
      width: 90%;
      font-size: 2.3rem;
      font-weight: 700; }
    .popupWrap .popup .popup_top small {
      display: block;
      font-size: 1.3rem;
      margin-top: 0.5rem;
      color: #666; }
    .popupWrap .popup .popup_top a.btn_popClose {
      display: block;
      position: absolute;
      top: 2rem;
      right: 2rem;
      font-size: 2.8rem;
      color: #333; }
    .popupWrap .popup .popup_mid {
      padding-top: 2rem; }
      .popupWrap .popup .popup_mid p {
        line-height: 140%;
        font-size: 1.4rem; }
      .popupWrap .popup .popup_mid ul.dot_list {
        margin-top: 1.4rem;
        padding-top: 1.4rem;
        border-top: 1px solid gainsboro; }
        .popupWrap .popup .popup_mid ul.dot_list li {
          position: relative;
          padding-left: 1rem;
          padding-bottom: 0.3rem;
          font-size: 1.3rem; }
          .popupWrap .popup .popup_mid ul.dot_list li:before {
            content: '・';
            position: absolute;
            top: 0rem;
            left: 0;
            display: block;
            font-size: 1.3rem;
            font-weight: 700;
            color: #333; }
          .popupWrap .popup .popup_mid ul.dot_list li dl:after {
            content: '';
            clear: both;
            display: block;
            height: 0; }
          .popupWrap .popup .popup_mid ul.dot_list li dl dt {
            float: left;
            width: 30%;
            font-weight: 700; }
          .popupWrap .popup .popup_mid ul.dot_list li dl dd {
            float: left;
            width: 70%;
            word-break: break-all; }
      .popupWrap .popup .popup_mid .form p.insert {
        padding-bottom: 2.5rem; }
        .popupWrap .popup .popup_mid .form p.insert label {
          font-size: 1.3rem;
          color: #666; }
        .popupWrap .popup .popup_mid .form p.insert input {
          width: 100%;
          height: 4rem;
          line-height: 4rem;
          font-size: 1.7rem; }
          .popupWrap .popup .popup_mid .form p.insert input:focus {
             /* border-color: #8b0e3a;  */
             border-color:#0079C4; }
        .popupWrap .popup .popup_mid .form p.insert small.caution {
          display: block;
          margin-top: 0.5rem;
          font-size: 1.2rem;
          color: #ff4f4f; }
    .popupWrap .popup .popup_bttm {
      padding-top: 3rem; }
      .popupWrap .popup .popup_bttm ul {
        text-align: center; }
        .popupWrap .popup .popup_bttm ul li {
          display: inline-block; }
          .popupWrap .popup .popup_bttm ul li a {
            min-width: 11.7rem;
            height: 3rem;
            line-height: 3rem;
            padding: 0 2rem; }

.popupWrap .page_popup {
   margin: 0 auto;
   position: absolute;
   top: 5rem;
   bottom: 0;
   right: 0;
   left: 0;
   max-width: 470px;
   width: 95%;
   /* height: 470px; */
   /* max-height: 600px; */
   max-height: 670px;
   padding: 0 1rem;
}

.popupWrap .page_popup a.btn_popClose {
   display: block;
   position: absolute;
   top: 0;
   right: 1.5rem;
   font-size: 2.2rem;
   color: white;
}
.popupWrap .page_popup ul.tabMenu:after {
   content: '';
   clear: both;
   display: block;
   height: 0;
}
.popupWrap .page_popup ul.tabMenu li {
   float: left;
   width: 8rem;
   height: 3rem;
   line-height: 3rem;
   text-align: center;
   -webkit-border-radius: 0.3rem 0.3rem 0 0;
   -moz-border-radius: 0.3rem 0.3rem 0 0;
   border-radius: 0.3rem 0.3rem 0 0;
   background-clip: padding-box;
   /* stops bg color from leaking outside the border: */
}
.popupWrap .page_popup ul.tabMenu li.wallet {
   background-color: white;
}
.popupWrap .page_popup ul.tabMenu li.wallet a {
   color: #333;
}
.popupWrap .page_popup ul.tabMenu li.eth {
   background-color: #95b0dd;
}
.popupWrap .page_popup ul.tabMenu li.eth a {
   color: white;
}
.popupWrap .page_popup ul.tabMenu li.gbt {
   background-color: #109281;
}
.popupWrap .page_popup ul.tabMenu li.gbt a {
   color: white;
}
.popupWrap .page_popup ul.tabMenu li.buy {
   background-color: #d87700;
}
.popupWrap .page_popup ul.tabMenu li.buy a {
   color: white;
}
.popupWrap .page_popup .tabCn {
   top: 5rem;
   bottom: 0;
   right: 0;
   left: 0;
   max-width: 470px;
   width: 100%;
   height: 100%;
   padding: 3rem;
   -webkit-border-radius: 0 0.3rem 0 0;
   -moz-border-radius: 0 0.3rem 0 0;
   border-radius: 0 0.3rem 0 0;
   background-clip: padding-box;
   /* stops bg color from leaking outside the border: */
}
@media screen and (max-width: 640px) {
   .popupWrap .page_popup .tabCn{
      overflow-y: scroll;
   }
   .popupWrap .page_popup {
      max-height: 80%;
      /* overflow-y: scroll; */
   }
}
.popupWrap .page_popup .tabCn .s_title {
   margin-bottom: 2.3rem;
   text-align: center;
}
.popupWrap .page_popup .tabCn .s_title h3 {
   display: block;
   margin-bottom: 0.5rem;
   text-align: center;
   font-size: 2.2rem;
   font-weight: 700;
}
.popupWrap .page_popup .tabCn .s_title small {
   font-size: 1.3rem;
}
.popupWrap .page_popup .tabCn dl.amount {
   margin-bottom: 2rem;
   border-bottom-width: 1px;
   border-bottom-style: dashed;
}
.popupWrap .page_popup .tabCn dl.amount dt {
   display: block;
   font-size: 1.6rem;
}
.popupWrap .page_popup .tabCn dl.amount dd {
   display: block;
   padding: 1rem 0 1.5rem;
   text-align: right;
   font-size: 2.4rem;
   font-weight: 700;
}
.popupWrap .page_popup .tabCn .contents h4 {
   text-align: center;
   font-size: 1.5rem;
}
.popupWrap .page_popup .tabCn .receive_mo {
   text-align: center;
}
.popupWrap .page_popup .tabCn .receive_mo .qrBox {
   position: relative;
   width: 18rem;
   height: 18rem;
   line-height: 18rem;
   margin: 2.3rem auto 2rem;
   text-align: center;
   border: 1px solid gainsboro;
   background: #fff;
   -webkit-border-radius: 0.5rem;
   -moz-border-radius: 0.5rem;
   border-radius: 0.5rem;
   background-clip: padding-box;
   /* stops bg color from leaking outside the border: */
}
.popupWrap .page_popup .tabCn .receive_mo .qrBox.clicked {
   background-color: white;
}
.popupWrap .page_popup .tabCn .receive_mo .qrBox i {
   font-size: 9.5rem;
}
.popupWrap .page_popup .tabCn .receive_mo .qrBox img {
   position: absolute;
   top: 50%;
   left: 50%;
   display: block;
   width: 15rem;
   height: 15rem;
   margin: -7.5rem 0 0 -7.5rem;
}
.popupWrap .page_popup .tabCn .receive_mo p.comment {
   position: relative;
   display: inline-block;
   padding: 1rem;
   font-size: 1.4rem;
   border-width: 1px;
   border-style: solid;
   -webkit-border-radius: 0.3rem;
   -moz-border-radius: 0.3rem;
   border-radius: 0.3rem;
   background-clip: padding-box;
   word-break: break-all;
   /* stops bg color from leaking outside the border: */
}
.popupWrap .page_popup .tabCn .receive_mo a.btn_submit {
   width: 18rem;
   height: 4rem;
   line-height: 4rem;
}
.popupWrap .page_popup .tabCn .send_mo .form p.insert {
   padding-bottom: 2.5rem;
}
.popupWrap .page_popup .tabCn .send_mo .form p.insert label {
   font-size: 1.3rem;
   color: #666;
}
.popupWrap .page_popup .tabCn .send_mo .form p.insert input {
   width: 100%;
   height: 4rem;
   line-height: 4rem;
   font-size: 1.7rem;
   background-color: transparent;
}
.popupWrap .page_popup .tabCn .send_mo .form p.insert input:focus {
    /* border-color: #8b0e3a;  */
    border-color:#0079C4;
}
.popupWrap .page_popup .tabCn .send_mo .form p.insert small.caution {
   display: block;
   margin-top: 0.5rem;
   font-size: 1.2rem;
   color: #ff4f4f;
}
.popupWrap .page_popup .tabCn .send_mo a.btn_submit {
   width: 100%;
   height: 4rem;
   line-height: 4rem;
}
.popupWrap .page_popup .wallet {
   background-color: white;
}
.popupWrap .page_popup .wallet > * {
   color: #333;
}
.popupWrap .page_popup .wallet p.comment {
   border-color: #333;
}
.popupWrap .page_popup .eth {
   background-color: #95b0dd;
}
.popupWrap .page_popup .eth > * {
   color: white;
}
.popupWrap .page_popup .eth p.comment {
   border-color: white;
}
.popupWrap .page_popup .eth label, .popupWrap .page_popup .eth input {
   color: white !important;
}
.popupWrap .page_popup .eth input::placeholder {
   color: rgba(255, 255, 255, 0.6);
}
.popupWrap .page_popup .buy {
   background-color: #d87700;
}
.popupWrap .page_popup .buy > * {
   color: white;
}
.popupWrap .page_popup .buy p.comment {
   border-color: white;
}
.popupWrap .page_popup .buy label, .popupWrap .page_popup .buy input {
   color: white !important;
}
.popupWrap .page_popup .buy input::placeholder {
   color: rgba(255, 255, 255, 0.6);
}
.popupWrap .page_popup .gbt {
   background-color: #109281;
}
.popupWrap .page_popup .gbt > * {
   color: white;
}
.popupWrap .page_popup .gbt p.comment {
   border-color: white;
}
.popupWrap .page_popup .gbt label, .popupWrap .page_popup .gbt input {
   color: white !important;
}
.popupWrap .page_popup .gbt input::placeholder {
   color: rgba(255, 255, 255, 0.6);
}

.popupWrap_2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); }
  .popupWrap_2 .popup {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: black; }
    .popupWrap_2 .popup a.btn_popClose {
      display: block;
      position: absolute;
      top: 2rem;
      right: 2rem;
      font-size: 3.5rem;
      color: white; }
    .popupWrap_2 .popup ul.mobile_menu {
      padding-top: 23%; }
      .popupWrap_2 .popup ul.mobile_menu li {
        font-size: 2.5rem;
        font-style: italic;
        font-weight: 200; }
        .popupWrap_2 .popup ul.mobile_menu li a {
          display: block;
          line-height: 4.6rem;
          padding-left: 2.5rem;
          color: white; }
    .popupWrap_2 .popup a.btn_logout {
      position: absolute;
      bottom: 2.5rem;
      right: 2.5rem;
      display: block;
      width: calc(100% - 5rem);
      height: 3.8rem;
      line-height: 3.8rem;
      text-align: center;
      color: white;
      border: 1px solid white; }

/* 버튼 */
a.btn_link {
  color: #0079C4;
   /*text-decoration: underline;*/
   text-decoration: none; }

a.btn_submit {
  display: inline-block;
  text-align: center;
  color: white;
  background-color: #0079C4;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

a.btn_line {
  display: inline-block;
  text-align: center;
  color: #fff;
  background: #e30000;
  /* border: 1px solid #8b0e3a; */
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

/* login, forgot_pw, .signup */
.login .left, .forgot_pw .left, .signup .left {
  float: left;
  width: 57.9795021961933%;
  padding-right: 14rem; }
  @media screen and (max-width: 1100px) {
    .login .left, .forgot_pw .left, .signup .left {
      width: 50%;
      padding-right: 0; } }
  @media screen and (max-width: 640px) {
    .login .left, .forgot_pw .left, .signup .left {
      width: 100%; } }
  .login .left .form, .forgot_pw .left .form, .signup .left .form {
    padding-top: 3.5rem; }
    .login .left .form p.insert, .forgot_pw .left .form p.insert, .signup .left .form p.insert {
      padding-bottom: 3rem; }
      .login .left .form p.insert label, .forgot_pw .left .form p.insert label, .signup .left .form p.insert label {
        font-size: 1.4rem;
        color: #666; }
      .login .left .form p.insert input, .forgot_pw .left .form p.insert input, .signup .left .form p.insert input {
        display: block;
        width: 100%;
        height: 5rem;
        line-height: 5rem;
        font-size: 2rem; }
        .login .left .form p.insert input:focus, .forgot_pw .left .form p.insert input:focus, .signup .left .form p.insert input:focus {
           /* border-color: #8b0e3a;  */
          border-color:#0079C4; }
      .login .left .form p.insert small.caution, .forgot_pw .left .form p.insert small.caution, .signup .left .form p.insert small.caution {
        display: block;
        margin-top: 0.5rem;
        font-size: 1.2rem;
        color: #ff4f4f; }
  .login .left a.btn_submit, .forgot_pw .left a.btn_submit, .signup .left a.btn_submit {
    width: 100%;
    height: 5.5rem;
    line-height: 5.5rem;
    font-size: 2rem; }
  .login .left p.forgot_pw, .login .left p.disc, .forgot_pw .left p.forgot_pw, .forgot_pw .left p.disc, .signup .left p.forgot_pw, .signup .left p.disc {
    margin-top: 1.3em; }

.login .right, .forgot_pw .right, .signup .right {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 42.0204978038067%;
  height: 100%;
  background: url(../../images/main_background_ot.png) no-repeat center;
  background-size: cover; }
  @media screen and (max-width: 1100px) {
    .login .right, .forgot_pw .right, .signup .right {
      width: 40%; } }
  @media screen and (max-width: 640px) {
    .login .right, .forgot_pw .right, .signup .right {
      display: none; } }

/* receive */
@media screen and (max-width: 960px) {
  .receive .right {
    display: none; } }

.receive .contents {
  text-align: center; }
  .receive .contents .qrBox {
    position: relative;
    width: 20rem;
    height: 20rem;
    line-height: 20rem;
    margin: 0 auto;
    text-align: center;
    border: 1px solid gainsboro;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    .receive .contents .qrBox i {
      font-size: 9rem; }
    .receive .contents .qrBox img {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 15rem;
      height: 15rem;
      margin: -7.5rem 0 0 -7.5rem; }
  .receive .contents p.comment {
    position: relative;
    display: inline-block;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 1.4rem;
    border: 1px solid #333;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    .receive .contents p.comment img {
      display: block;
      position: absolute;
      top: -0.8rem;
      left: 1.5rem; }
  .receive .contents a.btn_submit {
    width: 20rem;
    height: 4rem;
    line-height: 4rem;
    margin-top: 2rem; }

/* send */
@media screen and (max-width: 960px) {
  .send .right {
    display: none; } }

.send .contents h4 select {
  display: inline-block;
  width: 9rem;
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.8rem;
  border: none;
  background-color: #e5e5e5; }

.send .contents .form p.insert {
  padding-bottom: 2.5rem; }
  .send .contents .form p.insert label {
    font-size: 1.3rem;
    color: #666; }
  .send .contents .form p.insert input {
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.7rem; }
    .send .contents .form p.insert input:focus {
      /* border-color: #8b0e3a;  */
      border-color:#0079C4; }

  .send .contents .form p.insert small.caution {
    display: block;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #ff4f4f; }

.send .contents a.btn_submit {
  width: 17rem;
  height: 4rem;
  line-height: 4rem; }

/* profile */
@media screen and (max-width: 960px) {
  .profile .left {
    display: none; } }

.profile .contents .form {
  border: 1px solid gainsboro;
  border-bottom: none; }
  .profile .contents .form p.inserted {
    padding: 15px;
    word-break: break-all;
    border-bottom: 1px solid gainsboro; }
    .profile .contents .form p.inserted small {
      display: block;
      margin-bottom: 0.5rem;
      font-size: 1.3rem;
      color: #666; }
    .profile .contents .form p.inserted span {
      display: block;
      font-size: 1.6rem; }
      .profile .contents .form p.inserted span a.btn_link {
        font-size: 13px; }

/* transaction */
@media screen and (max-width: 960px) {
  .transaction .left {
    display: none; } }

.transaction .contents .iframe_wrap {
  width: 100%;
  height: 42rem;
  background-color: #f3f3f3; }
  .transaction .contents .iframe_wrap iframe {
    display: block;
    width: 100%;
    height: 100%; }
